<div class="sidebar-link">
	<%= link_to image_tag("teachable-logo.png"), 'http://teachable.com' %>
</div>

<ul class="nav">
	<li><%= link_to "Search", root_path %></li>
	<li><%= link_to "Favorites", favorites_path %></li>
</ul>